@page "/apex-chart/pie-chart"
@inject IJSRuntime JSRuntime

<h3>PieChart</h3>

<div id="chart"></div>

@code {
protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        var labels = new string[] { "Team A", "Team B", "Team C", "Team D", "Team E" };
        var series = new int[] { 44, 55, 13, 43, 22 };
        await InjectService.EnableLoading();
        await JSRuntime.InvokeVoidAsync("setPieChart", labels, series);
        await InjectService.DisableLoading();
    }
}
}
