USE [Pos]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[StateCode] [nvarchar](50) NOT NULL,
	[TownshipCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PlaceState]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PlaceState](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [nvarchar](50) NOT NULL,
	[StateName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_City] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PlaceTownship]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PlaceTownship](
	[TownshipId] [int] IDENTITY(1,1) NOT NULL,
	[TownshipCode] [nvarchar](50) NOT NULL,
	[TownshipName] [nvarchar](50) NOT NULL,
	[StateCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Township] PRIMARY KEY CLUSTERED 
(
	[TownshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Product]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductCategoryCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ProductCategory]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ProductCategory](
	[ProductCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryCode] [varchar](50) NOT NULL,
	[ProductCategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SaleInvoice]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SaleInvoice](
	[SaleInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[SaleInvoiceDateTime] [datetime] NOT NULL,
	[VoucherNo] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[StaffCode] [nvarchar](50) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[PaymentType] [nvarchar](10) NULL,
	[CustomerAccountNo] [nvarchar](20) NULL,
	[PaymentAmount] [decimal](18, 2) NULL,
	[ReceiveAmount] [decimal](18, 2) NULL,
	[Change] [decimal](18, 2) NULL,
	[CustomerCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_SaleInvoice] PRIMARY KEY CLUSTERED 
(
	[SaleInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SaleInvoiceDetail]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SaleInvoiceDetail](
	[SaleInvoiceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherNo] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tbl_SaleInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[SaleInvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sequence]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sequence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Field] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Length] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Sequence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Shop]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Shop](
	[ShopId] [int] IDENTITY(1,1) NOT NULL,
	[ShopCode] [varchar](50) NOT NULL,
	[ShopName] [varchar](50) NOT NULL,
	[MobileNo] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Staff]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffCode] [varchar](50) NOT NULL,
	[StaffName] [varchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[MobileNo] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Position] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Tax]    Script Date: 6/9/2024 11:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Tax](
	[TaxId] [int] IDENTITY(1,1) NOT NULL,
	[FromAmount] [int] NOT NULL,
	[ToAmount] [int] NOT NULL,
	[TaxType] [nvarchar](50) NOT NULL,
	[Percentage] [decimal](18, 2) NULL,
	[FixedAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Tbl_Tax] PRIMARY KEY CLUSTERED 
(
	[TaxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Customer] ON 

INSERT [dbo].[Tbl_Customer] ([CustomerId], [CustomerCode], [CustomerName], [MobileNo], [DateOfBirth], [Gender], [StateCode], [TownshipCode]) VALUES (1, N'C00001', N'Sann Lynn Htun', N'09793507842', CAST(N'1987-04-30T00:00:00.000' AS DateTime), N'M', N'MMR013', N'MMR013001')
INSERT [dbo].[Tbl_Customer] ([CustomerId], [CustomerCode], [CustomerName], [MobileNo], [DateOfBirth], [Gender], [StateCode], [TownshipCode]) VALUES (2, N'C00001', N'Chit Lun Htet', N'09784569087', CAST(N'2000-01-31T00:00:00.000' AS DateTime), N'Male', N'MMR013', N'MMR013012')
SET IDENTITY_INSERT [dbo].[Tbl_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_PlaceState] ON 

INSERT [dbo].[Tbl_PlaceState] ([StateId], [StateCode], [StateName]) VALUES (1, N'MMR001', N'Kachin')
INSERT [dbo].[Tbl_PlaceState] ([StateId], [StateCode], [StateName]) VALUES (2, N'MMR002', N'Kayah')
INSERT [dbo].[Tbl_PlaceState] ([StateId], [StateCode], [StateName]) VALUES (3, N'MMR003', N'Kayin')
SET IDENTITY_INSERT [dbo].[Tbl_PlaceState] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_PlaceTownship] ON 

INSERT [dbo].[Tbl_PlaceTownship] ([TownshipId], [TownshipCode], [TownshipName], [StateCode]) VALUES (2, N'MMR017022', N'Danubyu', N'MMR017')
INSERT [dbo].[Tbl_PlaceTownship] ([TownshipId], [TownshipCode], [TownshipName], [StateCode]) VALUES (3, N'MMR017026', N'Dedaye', N'MMR017')
INSERT [dbo].[Tbl_PlaceTownship] ([TownshipId], [TownshipCode], [TownshipName], [StateCode]) VALUES (4, N'MMR017015', N'Einme', N'MMR017')
GO
SET IDENTITY_INSERT [dbo].[Tbl_PlaceTownship] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Product] ON 

INSERT [dbo].[Tbl_Product] ([ProductId], [ProductCode], [ProductCategoryCode], [ProductName], [Price]) VALUES (1, N'P00001', N'PC_00001', N'Apple', CAST(9200.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Product] ([ProductId], [ProductCode], [ProductCategoryCode], [ProductName], [Price]) VALUES (2, N'P00002', N'PC_00001', N'Banana', CAST(4100.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Product] ([ProductId], [ProductCode], [ProductCategoryCode], [ProductName], [Price]) VALUES (3, N'P00003', N'PC_00001', N'Orange', CAST(2500.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Tbl_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_ProductCategory] ON 

INSERT [dbo].[Tbl_ProductCategory] ([ProductCategoryId], [ProductCategoryCode], [ProductCategoryName]) VALUES (1, N'PC_00001', N'Fruit')
INSERT [dbo].[Tbl_ProductCategory] ([ProductCategoryId], [ProductCategoryCode], [ProductCategoryName]) VALUES (2, N'PC_00002', N'Vegetable')
INSERT [dbo].[Tbl_ProductCategory] ([ProductCategoryId], [ProductCategoryCode], [ProductCategoryName]) VALUES (3, N'PC_00003', N'Dairy')
GO
SET IDENTITY_INSERT [dbo].[Tbl_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_SaleInvoice] ON 

INSERT [dbo].[Tbl_SaleInvoice] ([SaleInvoiceId], [SaleInvoiceDateTime], [VoucherNo], [TotalAmount], [Discount], [StaffCode], [Tax], [PaymentType], [CustomerAccountNo], [PaymentAmount], [ReceiveAmount], [Change], [CustomerCode]) VALUES (1, CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'SI-0000000001', CAST(27600.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'S001', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_SaleInvoice] ([SaleInvoiceId], [SaleInvoiceDateTime], [VoucherNo], [TotalAmount], [Discount], [StaffCode], [Tax], [PaymentType], [CustomerAccountNo], [PaymentAmount], [ReceiveAmount], [Change], [CustomerCode]) VALUES (2, CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'SI-0000000002', CAST(82800.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'S001', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_SaleInvoice] ([SaleInvoiceId], [SaleInvoiceDateTime], [VoucherNo], [TotalAmount], [Discount], [StaffCode], [Tax], [PaymentType], [CustomerAccountNo], [PaymentAmount], [ReceiveAmount], [Change], [CustomerCode]) VALUES (3, CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'SI-0000000003', CAST(73600.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'S001', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tbl_SaleInvoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_SaleInvoiceDetail] ON 

INSERT [dbo].[Tbl_SaleInvoiceDetail] ([SaleInvoiceDetailId], [VoucherNo], [ProductCode], [Quantity], [Price], [Amount]) VALUES (1, N'SI-0000000001', N'P00001', 3, CAST(9200.00 AS Decimal(18, 2)), CAST(27600.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_SaleInvoiceDetail] ([SaleInvoiceDetailId], [VoucherNo], [ProductCode], [Quantity], [Price], [Amount]) VALUES (2, N'SI-0000000002', N'P00001', 9, CAST(9200.00 AS Decimal(18, 2)), CAST(82800.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_SaleInvoiceDetail] ([SaleInvoiceDetailId], [VoucherNo], [ProductCode], [Quantity], [Price], [Amount]) VALUES (3, N'SI-0000000003', N'P00001', 8, CAST(9200.00 AS Decimal(18, 2)), CAST(73600.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Tbl_SaleInvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Sequence] ON 

INSERT [dbo].[Tbl_Sequence] ([Id], [Field], [Code], [Length], [Sequence]) VALUES (1, N'SaleInvoice', N'SI-', 10, 738)
SET IDENTITY_INSERT [dbo].[Tbl_Sequence] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Shop] ON 

INSERT [dbo].[Tbl_Shop] ([ShopId], [ShopCode], [ShopName], [MobileNo], [Address]) VALUES (1, N'SP00001', N'Tech Yoke', N'09793507842', N'Shwe Pauk Kan, North Okkalapa')
SET IDENTITY_INSERT [dbo].[Tbl_Shop] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Staff] ON 

INSERT [dbo].[Tbl_Staff] ([StaffId], [StaffCode], [StaffName], [DateOfBirth], [MobileNo], [Address], [Gender], [Position], [Password]) VALUES (1, N'S00001', N'Collin', CAST(N'2000-01-31T00:00:00.000' AS DateTime), N'09794657832', N'No. 1, Thukha Street', N'Male', N'Admin', N'oTx738tch5aMcPFt05uNyH6r2hpioAltmB8qd0bNLco=')
SET IDENTITY_INSERT [dbo].[Tbl_Staff] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard]    Script Date: 6/9/2024 11:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------------------------------------
-- Test Script
--------------------------------------------------------------------------------------------------
/*

DECLARE @SaleInvoiceDate		 DATETIME		SET @SaleInvoiceDate =GETDATE()

EXEC sp_Dashboard				@SaleInvoiceDate

*/

--------------------------------------------------------------------------------------------------
-- Change History
--------------------------------------------------------------------------------------------------
-- 22/May/2024	HEIN - Create New Sp
--------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Dashboard] 
( 
	@SaleInvoiceDate   DATETIME
)
 
AS
BEGIN 

	--------------------------------------------------------------------------------------------------
	-- Prepare a temp table for dashboard
	--------------------------------------------------------------------------------------------------
	CREATE TABLE #WeeklySalesReport (
		SaleInvoiceDate DATETIME,
		Quantity INT,
		Amount DECIMAL(18, 2)
	);

	CREATE TABLE #DailySalesReport (
		SaleInvoiceDate DATETIME,
		ProductName NVARCHAR(50),
		Quantity INT,
		Amount DECIMAL(18, 2)
	);

	CREATE TABLE #MonthlySalesReport (
		SaleInvoiceDate DATETIME,
		Amount DECIMAL(18, 2)
	);

	CREATE TABLE #YearlySalesReport (
		YEAR INT,
		Amount DECIMAL(18, 2)
	);
	
	IF(ISNULL(@SaleInvoiceDate,'') = '') BEGIN
	  SET @SaleInvoiceDate = GETDATE()
	END
	--------------------------------------------------------------------------------------------------
	-- Retrieve the Dataset #2 (DailySalesReport)
    --------------------------------------------------------------------------------------------------
	INSERT INTO #DailySalesReport(SaleInvoiceDate, Quantity, Amount)
	SELECT CONVERT(DATE,SI.SaleInvoiceDateTime) AS SaleInvoiceDate, SUM(ISNULL(SID.Quantity,0)),
			SUM(ISNULL(SID.Amount,0)) FROM Tbl_SaleInvoice (NOLOCK) AS SI 
			INNER JOIN Tbl_SaleInvoiceDetail (NOLOCK) AS SID ON SID.VoucherNo = SI.VoucherNo 
			WHERE CONVERT(DATE,SaleInvoiceDateTime) = CONVERT(DATE,@SaleInvoiceDate) 
			GROUP BY SI.SaleInvoiceDateTime
	--------------------------------------------------------------------------------------------------
	-- Retrieve the Dataset #3 (WeeklySalesReport)
	--------------------------------------------------------------------------------------------------

	INSERT INTO #WeeklySalesReport(SaleInvoiceDate, Quantity, Amount)
	SELECT CONVERT(DATE,SI.SaleInvoiceDateTime) AS SaleInvoiceDate, SUM(ISNULL(SID.Quantity,0)), 
			SUM(ISNULL(SID.Amount,0)) from Tbl_SaleInvoice AS SI 
			INNER JOIN Tbl_SaleInvoiceDetail AS SID ON SID.VoucherNo = SI.VoucherNo 
			WHERE CONVERT(DATE,SaleInvoiceDateTime) BETWEEN 
				CONVERT(DATE,DATEADD(day, -7, @SaleInvoiceDate)) AND 
				CONVERT(DATE,@SaleInvoiceDate) GROUP BY SI.SaleInvoiceDateTime

	--------------------------------------------------------------------------------------------------
	-- Retrieve the Dataset #4 (MonthlySalesReport)
	--------------------------------------------------------------------------------------------------
	DECLARE @StartDate DATE 
	SET @StartDate = DATEADD(MONTH, DATEDIFF(MONTH, 0, @SaleInvoiceDate), 0)
	DECLARE @EndDate DATE 
	SET @EndDate = DATEADD(SECOND, -1, DATEADD(MONTH, 1, DATEADD(MONTH, DATEDIFF(MONTH, 0, @SaleInvoiceDate), 0)))

	INSERT INTO #MonthlySalesReport(SaleInvoiceDate, Amount)
	SELECT CONVERT(DATE,SI.SaleInvoiceDateTime) AS SaleInvoiceDate, SUM(ISNULL(SID.Amount,0)) 
			FROM Tbl_SaleInvoice (NOLOCK) AS SI 
			INNER JOIN Tbl_SaleInvoiceDetail (NOLOCK) AS SID ON SID.VoucherNo = SI.VoucherNo 
			WHERE CONVERT(DATE,SaleInvoiceDateTime) BETWEEN CONVERT(DATE,@StartDate) 
			AND CONVERT(DATE,@EndDate) GROUP BY CONVERT(DATE,SaleInvoiceDateTime)
	--------------------------------------------------------------------------------------------------
	-- Retrieve the Dataset #5 (YearlySalesReport)
	--------------------------------------------------------------------------------------------------

	INSERT INTO #YearlySalesReport(YEAR, Amount)
	SELECT YEAR(SaleInvoiceDateTime), SUM(ISNULL(SID.Amount,0)) from Tbl_SaleInvoice (NOLOCK) AS SI 
			INNER JOIN Tbl_SaleInvoiceDetail (NOLOCK) AS SID ON SID.VoucherNo = SI.VoucherNo 
			WHERE YEAR(SaleInvoiceDateTime) = YEAR(@SaleInvoiceDate) 
			GROUP BY YEAR(SaleInvoiceDateTime)
	--------------------------------------------------------------------------------------------------
	-- Return DataSet
	--------------------------------------------------------------------------------------------------
	--------------------------------------------------------------------------------------------------
	-- Retrieve  Dataset #1  (the best seller top ten Product)
    --------------------------------------------------------------------------------------------------
	SELECT TOP 10 P.ProductName, SUM(ISNULL(SD.Quantity,0)) AS TotalQty 
	       FROM Tbl_SaleInvoiceDetail AS SD INNER JOIN Tbl_Product AS P ON P.ProductCode = SD.ProductCode  
	       GROUP BY SD.ProductCode,P.ProductName ORDER BY SUM(SD.Quantity) DESC
	--------------------------------------------------------------------------------------------------
	-- Retrieve  Dataset #2  (DailySalesReport)
    --------------------------------------------------------------------------------------------------
	SELECT SaleInvoiceDate,Amount FROM #DailySalesReport ORDER BY SaleInvoiceDate
	--------------------------------------------------------------------------------------------------
	-- Retrieve  Dataset #3  (WeeklySalesReport)
    --------------------------------------------------------------------------------------------------
	SELECT SaleInvoiceDate,Amount FROM #WeeklySalesReport ORDER BY SaleInvoiceDate
	--------------------------------------------------------------------------------------------------
	-- Retrieve  Dataset #4  (MonthlySalesReport)
    --------------------------------------------------------------------------------------------------
	SELECT SaleInvoiceDate,Amount FROM #MonthlySalesReport ORDER BY SaleInvoiceDate
	--------------------------------------------------------------------------------------------------
	-- Retrieve  Dataset #5  (YearlySalesReport)
    --------------------------------------------------------------------------------------------------
	SELECT YEAR,Amount FROM #YearlySalesReport
	--------------------------------------------------------------------------------------------------
	-- Remove Temp table
	--------------------------------------------------------------------------------------------------
	DROP TABLE #DailySalesReport
	DROP TABLE #WeeklySalesReport
	DROP TABLE #MonthlySalesReport
	DROP TABLE #YearlySalesReport
	

END


GO
/****** Object:  StoredProcedure [dbo].[Sp_GenerateSaleInvoiceNo]    Script Date: 6/9/2024 11:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Sp_GenerateSaleInvoiceNo]
as
begin

	declare @Seq int, @Code varchar(50), @Length int
	select @Seq = Sequence + 1, @Code = Code, @Length = Length from Tbl_Sequence 
	where Field = 'SaleInvoice'

	print(@Seq)
	print(@Code)
	print(@Length)

	update Tbl_Sequence
	set Sequence = @Seq
	where Field = 'SaleInvoice'

	select @Code + CONCAT(REPLICATE('0', @Length - LEN(@Seq)), @Seq)
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_monthly_report]    Script Date: 6/9/2024 11:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------
-- Test Script
-------------------------------------------
/*
DBCC DROPCLEANBUFFERS
GO

DECLARE		@PageNo				INT = 1
DECLARE		@PageSize			INT = 10
DECLARE		@FromDate			DATETIME = '2024-05-01'
DECLARE		@ToDate				DATETIME = '2024-06-30'

EXEC Sp_monthly_report @PageNo, @PageSize, @FromDate, @ToDate

*/

---------------------------------------------------------------------------------------
-- Change History
---------------------------------------------------------------------------------------
-- 28/May/2024 PPK	-  New SP
---------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[Sp_monthly_report]
	(	
		@PageNo				INT,
		@PageSize			INT,
		@FromDate			DATETIME,
		@ToDate				DATETIME
	)

AS BEGIN 

	DECLARE @PageCount INT
	DECLARE @TotalCount INT 

	---------------------------------------------------------------------------------
	-- GET DATA FROM JobOrderSurveyItem
	---------------------------------------------------------------------------------
	CREATE TABLE #TEMP
	(
		SaleInvoiceDate			NVARCHAR(10),
		TotalAmount				DECIMAL(16, 2)
	)
	INSERT INTO #TEMP
	(
		SaleInvoiceDate, TotalAmount
	)
	SELECT	convert(varchar(7), SaleInvoiceDateTime, 126) AS SaleInvoiceDate, 
			Sum(TotalAmount) TotalAmount 
	FROM	Tbl_SaleInvoice (NOLOCK)
	WHERE	convert(varchar(7), SaleInvoiceDateTime, 126) >= convert(varchar(7), @FromDate, 126) and 
			convert(varchar(7), SaleInvoiceDateTime, 126) <= convert(varchar(7), @ToDate, 126)
	GROUP BY	convert(varchar(7), SaleInvoiceDateTime, 126)

	SET @TotalCount = (SELECT COUNT(*) FROM	#TEMP (NOLOCK))
	SET @PageCount = @TotalCount / @PageSize
	IF (@TotalCount / @PageSize) <> 0
	BEGIN
		SET @PageCount = @PageCount + 1;
	END

	---------------------------------------------------------------------------------
	-- VALIDATION
	---------------------------------------------------------------------------------
	--IF NOT EXISTS(SELECT TOP 1 1 FROM #TEMP (NOLOCK)) RETURN

	---------------------------------------------------------------------------------
	-- When we reach this point, all is good to go
	---------------------------------------------------------------------------------

	SELECT SaleInvoiceDate, TotalAmount FROM #TEMP
	ORDER BY SaleInvoiceDate
	OFFSET (@PageNo - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	SELECT	@PageNo AS PageNo, @PageSize AS PageSize, @PageCount AS PageCount, @TotalCount AS TotalCount

	DROP TABLE #TEMP

END
GO