@page "/staff"

@if (ResponseModel is not null)
{
    
        int count = 0;
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Product Category Code</th>
                    <th>Product Category Name</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in ResponseModel.Data.Staff)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@item.StaffName</td>
                        <td>@item.StaffCode</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    
}

@code {
    private StaffListResponseModel? ResponseModel;

    protected override async Task OnInitializedAsync()
    {
        ResponseModel = await HttpClientService.ExecuteAsync<StaffListResponseModel>(Endpoints.Staff, EnumHttpMethod.Get);

    }

    private async Task Create(StaffModel staff)
    {
        var response = await HttpClientService.ExecuteAsync<StaffResponseModel>(
            Endpoints.Staff,
            EnumHttpMethod.Post,
            new StaffRequestModel
                {
                    StaffCode = staff.StaffCode,
                    StaffName = staff.StaffName
                }
        );

    }
}
