@inherits LayoutComponentBase

<MudPaper Height="900px" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <div class="d-flex mud-height-full">
            <MudContainer MaxWidth="MaxWidth.Large" Class="ma-4">
                @Body
            </MudContainer>
        </div>
    </MudDrawerContainer>
</MudPaper>
@code
{
}

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<RadzenComponents />