@page "/"
@attribute [Authorize]
@* @rendermode InteractiveServer *@
@attribute [StreamRendering(true)]
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime

<div class="d-flex justify-space-between">
    <MudCard Style="width:49%;">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIconButton Icon="@Icons.Material.Filled.Wallet" Color="Color.Success" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Yearly Sale (@_responseModel?.Data.Dashboard?.YearlyData?.FirstOrDefault()?.Year.ToString())</MudText>
                <MudText Typo="Typo.body2">@_responseModel?.Data.Dashboard?.YearlyData?.FirstOrDefault()?.Amount.ToString("N2") MMK</MudText>
                @* <MudText Typo="Typo.body1">@_yearlyDate</MudText>
                <MudText Typo="Typo.body2">@_yearlyAmount MMK</MudText> *@
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
    <MudCard Style="width:49%;">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIconButton Icon="@Icons.Material.Filled.Wallet" Color="Color.Success" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Daily Sale (@_responseModel?.Data.Dashboard?.DailyData?.FirstOrDefault()?.SaleInvoiceDate.ToString("dd/MM/yyyy"))</MudText>
                <MudText Typo="Typo.body2">@_responseModel?.Data.Dashboard?.DailyData?.FirstOrDefault()?.Amount.ToString("N2") MMK</MudText>
                @* <MudText Typo="Typo.body1">@_dailyDate</MudText>
                <MudText Typo="Typo.body2">@_dailyAmount MMK</MudText> *@
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
</div>

<div class="row pt-5">
    <div id="chart" style="float:left;width:50%;"></div>
    @* <div id="lineChart" style="float:right;width:50%;"></div> *@
    <div id="barChart" style="float:right;width:50%;"></div>
</div>
