@page "/apex-chart/line-column-chart"
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime

<h3>PieChart</h3>

<div id="chart"></div>

@code {
protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        var data1 = new int[] { 440, 505, 414, 671, 227, 413, 201, 352, 752, 320, 257, 160 };
        var data2 = new int[] { 23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16 };
        var xData = new string[] { "01 Jan 2001", "02 Jan 2001", "03 Jan 2001", "04 Jan 2001", "05 Jan 2001", "06 Jan 2001", "07 Jan 2001", "08 Jan 2001", "09 Jan 2001", "10 Jan 2001", "11 Jan 2001", "12 Jan 2001" };

        var response = new
        {
            xData = xData,
            websiteBlogData = data1,
            socialMediaData = data2
        };
        await InjectService.EnableLoading();
        await JSRuntime.InvokeVoidAsync("setLineColumnChart", response);
        await InjectService.DisableLoading();
    }
}
}