@page "/high-chart/line-chart"
@inject IJSRuntime JSRuntime

<h3>ColumnChart</h3>

<div id="container"></div>

@code {
protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        await InjectService.EnableLoading();
        await JSRuntime.InvokeVoidAsync("setLineChart");
        await InjectService.DisableLoading();
    }
}
}
