@page "/product-category"

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="Popup"></MudIconButton>
    Product Category
</MudText>


@if (ResponseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Category Code</th>
                <th>Product Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Data.ProductCategory)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.ProductCategoryCode</td>
                    <td>@item.ProductCategoryName</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}


@code {
    private ProductCategoryListResponseModel? ResponseModel;

    protected override async Task OnInitializedAsync()
    {
        // var response = await HttpClientService.ExecuteAsync<ProductCategoryResponseModel>(
        //     Endpoints.ProductCategory,
        //     EnumHttpMethod.Post,
        //     new ProductCategoryRequestModel
        //         {
        //             ProductCategoryCode = "001",
        //             ProductCategoryName = "Testing"
        //         }
        // );
        await List();
    }

    private async Task List()
    {
        ResponseModel = await HttpClientService.ExecuteAsync<ProductCategoryListResponseModel>(Endpoints.ProductCategory, EnumHttpMethod.Get);
    }

    private async Task Popup()
    {
        var dialog = await DialogService.ShowAsync<P_ProductCategoryDialog>("New Product Category");
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await List();
        }
    }
}
