@page "/login"
@using System.Security.Claims
@using DotNet8.Pos.App.Models.Auth
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Login</h3>

<EditForm Model="@_loginRequest" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="username">User Name:</label>
        <InputText id="username" @bind-Value="_loginRequest.UserName" placeholder="UserName" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="_loginRequest.Password" placeholder="Password" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>